---
import Card from "./ui/Card.astro";
import Button from "./ui/Button.astro";
import Code from "./icons/Code.astro";
import ExternalLink from "./icons/ExternalLink.astro";
import { projects } from "../data/projects.js";

---

<section id="projects" class="scroll-mt-32">
  <h2 class="flex flex-row gap-x-2 items-center text-3xl font-bold mb-8 text-[#fafafa]">
    <Code class="h-8 w-8" />
    Proyectos
  </h2>

  <div class="grid md:grid-cols-2 gap-6">
    {projects.map((project) => (
      <Card>
        <div class="p-6 space-y-4">
          <div class="aspect-video relative overflow-hidden rounded-lg">
            <img
              src={project.image.src}
              alt={project.image.alt}
              width={project.image.width}
              height={project.image.height}
              class="aspect-video object-cover"
              loading="lazy"
            />
          </div>

          <div>
            <h3 class="text-xl font-semibold mb-2 text-[#fafafa] text-pretty">
              {project.title}
            </h3>
            <p class="text-[#96969f] mb-4">{project.description}</p>

            <div class="flex gap-4">
              {project.links.map((link) => (
                <Button
                  href={link.href}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {
                    link.icon === "external" ? <ExternalLink class="h-4 w-4" /> : <Code class="h-4 w-4" />
                  }
                  {link.label}
                </Button>
              ))}
            </div>
          </div>
        </div>
      </Card>
    ))}
  </div>
</section>
